
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1
import pandas as pd

In [2]:
1 * 3

3

In [3]:
import pandas as pd
import seaborn as sn

In [4]:
1 / 2

0.5

In [9]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [1]:
x = 'hello'

In [2]:
x

'hello'

In [3]:
print(x)

hello

In [4]:
num = 12
name = 'Sam'

In [5]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [6]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [7]:
[1,2,3]

[1, 2, 3]

In [8]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [9]:
my_list = ['a','b','c']

In [10]:
my_list.append('d')

In [11]:
my_list

['a', 'b', 'c', 'd']

In [12]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [13]:
my_list[0] = 'NEW'

In [14]:
my_list

['NEW', 'b', 'c', 'd']

In [16]:
nest = [1,2,3,[4,5,['target']]]

In [17]:
nest[3]

[4, 5, ['target']]

In [18]:
nest[3][2]

['target']

In [19]:
nest[3][2][0]

'target'

### Dictionaries

In [20]:
d = {'key1':'item1','key2':'item2'}

In [21]:
d

{'key1': 'item1', 'key2': 'item2'}

In [22]:
d['key1']

'item1'

### Booleans

In [23]:
True

True

In [24]:
False

False

### Tuples

In [25]:
t = (1,2,3)

In [26]:
t[0]

1

In [28]:
t[0]

1

### Sets

In [29]:
{1,2,3}

{1, 2, 3}

In [31]:
set({1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2})

{1, 2, 3}

In [32]:
set({12,23,21,23,232,32,32,323,2,32,32,3,22})

{2, 3, 12, 21, 22, 23, 32, 232, 323}

## Comparison Operators

In [33]:
1 > 2

False

In [34]:
1 < 2

True

In [35]:
1 >= 1

True

In [36]:
1 <= 4

True

In [37]:
1 == 1

True

In [38]:
'hi' == 'bye'

False

## Logic Operators

In [39]:
(1 > 2) and (2 < 3)

False

In [40]:
(1 > 2) or (2 < 3)

True

In [41]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [42]:
if 1 < 2:
    print('Yep!')

Yep!

In [43]:
if 1 < 2:
    print('yep!')

yep!

In [44]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [45]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [46]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [49]:
seq = [1,2,3,4,5]

In [50]:
for item in seq:
    print(item)

1
2
3
4
5

In [51]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [52]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [57]:
i = -3
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: -3
i is: -2
i is: -1
i is: 0
i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [25]:
list(range(5))

[0, 1, 2, 3, 4]

In [26]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [2]:
x = [1,2,3,4]

In [4]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [64]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [65]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [68]:
my_func("nowhere")

nowhere

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [73]:
def square(x):
    return x**2

In [80]:
out = square(2)

In [81]:
print(out)

4

## lambda expressions

In [5]:
def times2(var):
    return var*2

In [6]:
times2(2)

4

In [8]:
lambda var: var*2

## map and filter

In [9]:
seq = [1,2,3,4,5]

In [10]:
map(times2,seq)

In [11]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [12]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [13]:
def item(seq):
    for i in seq:
        if i%2==0:
            return i
        else:
            pass
        return f'{i} is not even number'
item([1,2,3,4,5])

'1 is not even number'

In [14]:
filter(lambda item: item%2 == 0,seq)

## methods

In [15]:
st = 'hello my name is Sam'

In [16]:
st.lower()

'hello my name is sam'

In [17]:
st.upper()

'HELLO MY NAME IS SAM'

In [18]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [19]:
tweet = 'Go Sports! #Sports'

In [20]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [21]:
tweet.split('#')[1]

'Sports'

In [22]:
d

NameError: name 'd' is not defined

In [23]:
d.keys()

NameError: name 'd' is not defined

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

# Great Job!